<html>
    <head>
    </head>
    <body>
        <div style = "border-style: solid; border-radius: 5px; width: 230px;">
            <center><h4>Switch Manager</h4></center>
            <form style="margin: 10px" action="">
                <label>Usuário:</label>
                <input type="text" id="user"></input></br></br>
                <label>Senha:</label>
                <input type="text" id="senha"></input></br></br>
                <input type="submit" value="Login"></input>
            </form>
        </div>
    </body>
</html>